
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.about-us-Cc9 {
  display: flex;
  flex-direction: column;
  background-color: #0b0b0b;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-motd-jry {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 8.4rem 6.2rem 9rem;
    width: 100%;
    align-items: center;

    .auto-group-baok-eyw {
      margin: 0rem 0.6rem 3.6rem 0rem;
      width: 133.2rem;
      height: 10rem;
      position: relative;
      flex-shrink: 0;

      .frame-z2D {
        width: 133.2rem;
        height: 6.8rem;
        position: absolute;
        left: 0;
        top: 2.2rem;
        overflow: hidden;
        display: flex;
        align-items: center;

        .whatsappimage2023-09-05at1214-1-iU1 {
          flex-shrink: 0;
          width: 7.3079rem;
          height: 6.8rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-th2z-EBT {
          box-sizing: border-box;
          padding: 1rem 0rem 0.8rem 21.992rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-14600-Aqo {
            align-items: center;
            flex-shrink: 0;
            margin: 1.1rem 15.4rem 1.2rem 0rem;
            height: calc(100% - 2.3rem);
            display: flex;
            column-gap: 4rem;

            .home-h53 {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
            .about-us-cC1 {
              color: #ff6b2c;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.5;
            }
            .contact-us-qKf {
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .our-partners-zCZ {
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .our-products-uaR {
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .services-Trq {
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .frame-14597-1NZ {
            font-size: 1.8rem;
            width: 13.9rem;
            color: #ffffff;
            display: flex;
            background-color: #ff6b2c;
            height: 100%;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            line-height: 1.5;
            border-radius: 4rem;
            flex-shrink: 0;
          }
        }
      }
      .frame-hWH {
        display: flex;
        width: 133.2rem;
        position: absolute;
        left: 0;
        overflow: hidden;
        align-items: center;
        height: 10rem;
        top: 0;
        flex-direction: column;

        .auto-group-rqr5-DUd {
          flex-shrink: 0;
          padding: 0rem 16rem 0rem 13.3rem;
          width: calc(100% - 74.9rem);
          display: flex;
          align-items: center;
          border-left: solid 0.1rem #575757;
          border-right: solid 0.1rem #575757;
          margin: 0rem 38.3rem 0rem 36.6rem;
          box-sizing: border-box;

          .line-11-Jky {
            margin-right: 12.9rem;
            width: 0.1rem;
            height: 10rem;
            background-color: #575757;
            flex-shrink: 0;
          }
          .line-12-T85 {
            background-color: #575757;
            flex-shrink: 0;
            margin-right: 15.8rem;
            width: 0.1rem;
            height: 10rem;
          }
          .line-13-AoB {
            background-color: #575757;
            flex-shrink: 0;
            margin-right: 15.9rem;
            width: 0.1rem;
            height: 10rem;
          }
        }
        .line-9-H77 {
          width: 100%;
          height: 0.1rem;
          background-color: rgba(87, 87, 87, 0.6499999762);
          flex-shrink: 0;
        }
      }
    }
    .frame-obF {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 3.3rem 5.5rem 0rem;
      width: calc(100% - 3.3rem);
      overflow: hidden;
      position: relative;

      .auto-group-tuss-KJh {
        margin-right: 3.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .about-us-rZX {
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .line-16-7kM {
          margin-bottom: 1.65rem;
          width: 95.9rem;
          height: 0.15rem;
          background-color: rgba(255, 255, 255, 0.7799999714);
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-id-4Qh {
          max-width: 100.1rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .young-woman-is-talking-about-something-rLZ {
        margin-top: 0.3rem;
        width: 26.7rem;
        height: 24.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .our-story-yAH {
      flex-shrink: 0;
      margin: 0rem 114.8rem 0.5rem 0rem;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-18-VuK {
      width: 100%;
      height: 0.15rem;
      background-color: rgba(255, 255, 255, 0.7799999714);
      flex-shrink: 0;
      margin-bottom: 2.15rem;
    }
    .frame-3fw {
      margin: 0rem 0.2rem 0.5rem 0rem;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-id-PUu {
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        max-width: 133.6rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .our-team-yCD {
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4rem;
      }
    }
    .line-19-tpy {
      flex-shrink: 0;
      margin-bottom: 2.95rem;
      width: 100%;
      height: 0.15rem;
      background-color: rgba(255, 255, 255, 0.7799999714);
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-id-Ra1 {
      max-width: 130rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 2rem;
    }
  }
  .frame-14601-o4m {
    padding: 7.679rem 53.5rem 7.734rem 53.5rem;
    width: 100%;
    height: 34.5rem;
    background-color: #202020;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-14596-K37 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .frame-14588-sqK {
        flex-shrink: 0;
        margin-right: 15.7rem;
        display: flex;
        flex-direction: column;

        .general-Q4Z {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.8468rem;
          font-weight: 500;
          letter-spacing: -0.005rem;
          font-size: 2.5097rem;
          line-height: 1.5;
          flex-shrink: 0;
        }
        .about-us-uGD {
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .services-FL5 {
          flex-shrink: 0;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-14589-oMb {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .policies-m3X {
          letter-spacing: -0.005rem;
          color: #ffffff;
          margin-bottom: 1.8468rem;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5097rem;
        }
        .security-safeguards-ttq {
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
        }
        .terms-of-service-drR {
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6135rem;
        }
        .privacy-nDX {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6136rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .accessibility-iN5 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
  }
}
