
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.landing-page-kcR {
  width: 100%;
  height: 501rem;
  position: relative;
  overflow: hidden;
  background-color: #0b0b0b;

  .auto-group-ilxb-a5f {
    position: absolute;
    left: 8.5rem;
    top: 0;
    width: 213.1686rem;
    height: 175.4rem;

    .ellipse-60-hCD {
      height: 141.5378rem;
      position: absolute;
      left: 58.4rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 141.5378rem;
    }
    .ellipse-61-QsK {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 172.7686rem;
      height: 172.7686rem;
      position: absolute;
      left: 40.4rem;
    }
    .frame-14597-XBF {
      background-color: #ff6b2c;
      display: flex;
      justify-content: center;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      position: absolute;
      left: 119.8rem;
      font-weight: 500;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      height: 5rem;
      top: 3.2rem;
      border-radius: 4rem;
      width: 13.9rem;
      font-size: 1.8rem;
    }
    .frame-14600-XqT {
      align-items: center;
      width: 74.6rem;
      height: 2.7rem;
      position: absolute;
      left: 29.8rem;
      top: 4.3rem;
      display: flex;
      column-gap: 4rem;

      .home-RR3 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ff6b2c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .about-us-jRj {
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.8rem;
      }
      .contact-us-GRf {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
      }
      .our-partners-ogV {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
      }
      .our-products-MCD {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
      }
      .services-SjT {
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .line-9-Pub {
      position: absolute;
      left: 0.5rem;
      top: 10rem;
      background-color: rgba(87, 87, 87, 0.6499999762);
      width: 133.2rem;
      height: 0.1rem;
    }
    .join-hands-with-reliable-products-for-the-best-quality-and-best-pricing-of-your-items-Mjw {
      width: 72.3rem;
      height: 21.6rem;
      top: 17rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 1rem;
      font-size: 4.8rem;
      line-height: 1.5;

      .join-hands-with-reliable-products-for-the-best-quality-and-best-pricing-of-your-items-Mjw-sub-0 {
      }
      .join-hands-with-reliable-products-for-the-best-quality-and-best-pricing-of-your-items-Mjw-sub-1 {
        font-family: Poppins, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ff6b2c;
      }
      .join-hands-with-reliable-products-for-the-best-quality-and-best-pricing-of-your-items-Mjw-sub-2 {
      }
      .join-hands-with-reliable-products-for-the-best-quality-and-best-pricing-of-your-items-Mjw-sub-3 {
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ff6b2c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .join-hands-with-reliable-products-for-the-best-quality-and-best-pricing-of-your-items-Mjw-sub-4 {
      }
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-5bP {
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      height: 4.5rem;
      position: absolute;
      left: 1rem;
      top: 47.8rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #efefef;
      width: 63.6rem;
    }
    .frame-14599-kSd {
      width: 16.3rem;
      left: 1rem;
      display: flex;
      align-items: center;
      top: 56.4rem;
      line-height: 1.5;
      height: 5rem;
      justify-content: center;
      background-color: #ff6b2c;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 500;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 4rem;
    }
    .ellipse-3-E6u {
      width: 9.4rem;
      height: 9.4rem;
      position: absolute;
      left: 0;
      top: 20.2rem;
      filter: blur(6.2rem);
      background-color: rgba(255, 107, 44, 0.6000000238);
      border-radius: 4.7rem;
    }
    .group-1-HL5 {
      width: 34.4rem;
      height: 47.4rem;
      position: absolute;
      left: 94.7rem;
      top: 15.5rem;

      .ellipse-1-pau {
        background-color: #ff6b2c;
        border-radius: 4.7rem;
        width: 9.4rem;
        height: 9.4rem;
        position: absolute;
        left: 22.7rem;
        top: 6.2rem;
        filter: blur(6.2rem);
      }
      .ellipse-2-w9j {
        border-radius: 4.7rem;
        width: 9.4rem;
        height: 9.4rem;
        position: absolute;
        left: 3.3rem;
        top: 34.1rem;
        filter: blur(6.2rem);
        background-color: #ff6b2c;
      }
      .rectangle-2-fbX {
        height: 37.4rem;
        position: absolute;
        left: 4.8rem;
        top: 6.2rem;
        border: solid 0.1rem #909090;
        box-sizing: border-box;
        border-radius: 25rem;
        width: 29.6rem;
      }
      .rectangle-1-Ws3 {
        object-fit: cover;
        vertical-align: top;
        border-radius: 26rem;
        width: 32.1rem;
        height: 47.4rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .line-10-rR7 {
      left: 37.1rem;
      top: 0;
      background-color: #575757;
      width: 0.1rem;
      height: 10rem;
      position: absolute;
    }
    .line-11-BiH {
      top: 0;
      background-color: #575757;
      width: 0.1rem;
      height: 10rem;
      position: absolute;
      left: 49.2rem;
    }
    .line-12-iTK {
      width: 0.1rem;
      height: 10rem;
      position: absolute;
      left: 63.4rem;
      top: 0;
      background-color: #575757;
    }
    .line-13-sb7 {
      height: 10rem;
      position: absolute;
      left: 78.4rem;
      top: 0;
      background-color: #575757;
      width: 0.1rem;
    }
    .line-16-DQ5 {
      width: 0.1rem;
      height: 10rem;
      position: absolute;
      left: 95.4rem;
      top: 0;
      background-color: #575757;
    }
    .whatsappimage2023-09-05at1214-1-mRb {
      vertical-align: top;
      width: 7.3079rem;
      height: 6.8rem;
      position: absolute;
      left: 0.5rem;
      top: 2.2rem;
      object-fit: cover;
    }
    .frame-18-VMb {
      width: 78.1rem;
      height: 14.4rem;
      position: absolute;
      left: 0.5rem;
      top: 72.8rem;

      .how-we-work-odB {
        margin-bottom: 0.4rem;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-orem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-KLd {
        line-height: 1.5;
        color: #efefef;
        font-family: Poppins, 'Source Sans Pro';
        margin-left: 1rem;
        max-width: 77.1rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    .group-19-wso {
      position: absolute;
      left: 83.4rem;
      top: 67.1rem;
      width: 50.3rem;
      height: 25.1rem;

      .rectangle-3-5z1 {
        background-position: -0rem 0.3088rem;
        background-image: url('REPLACE_IMAGE:78487ac393a62ccb0c9933e7bbb1e00dfda3c754');
        border-radius: 17rem;
        width: 49rem;
        position: absolute;
        left: 1.3rem;
        background-color: #d9d9d9;
        height: 24.6rem;
        top: 0.5rem;
        background-size: 100% 132.724%;

        .rectangle-3-5z1-bg {
          width: 49rem;
          height: 24.6rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:78487ac393a62ccb0c9933e7bbb1e00dfda3c754');
        }
      }
      .ellipse-3-hkV {
        filter: blur(4.5rem);
        background-color: #ff6b2c;
        border-radius: 4.7rem;
        width: 9.4rem;
        height: 9.4rem;
        position: absolute;
        left: 1.3rem;
        top: 9.1rem;
      }
      .group-17-Qeu {
        width: 9.1rem;
        height: 9.1rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .frame-14597-8L1 {
      border-radius: 17rem;
      width: 26.9rem;
      height: 8.6rem;
      position: absolute;
      left: 79.4rem;
      top: 45.7rem;
      box-shadow: 0 0.4rem 3.4rem rgba(255, 107, 44, 0.6999999881);
      background-color: rgba(255, 255, 255, 0.6999999881);

      .image-2-Gh7 {
        vertical-align: top;
        width: 7rem;
        height: 7.6rem;
        position: absolute;
        left: 1.4rem;
        top: 0.5rem;
        object-fit: cover;
      }
      .get-fast-delivery-QoK {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        top: 2.8rem;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 600;
        font-style: italic;
        width: 17.1rem;
        position: absolute;
        left: 8.2rem;
      }
    }
  }
  .auto-group-om93-gF3 {
    left: 0;
    top: 100.4rem;
    display: grid;
    grid-template-columns: repeat(2, 66.7958rem);
    box-sizing: border-box;
    position: absolute;
    height: 183.6rem;
    grid-auto-rows: 76.8083rem;
    background-color: #171717;
    padding: 3.1rem 9rem 13.7rem 8.5rem;
    width: 151.2rem;

    .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-orem-ipsum-dolor-sit-amet-consectetur-Uwb {
      font-weight: 400;
      line-height: 1.5;
      color: #efefef;
      font-family: Poppins, 'Source Sans Pro';
      max-width: 88rem;
      text-align: center;
      font-size: 1.5rem;
    }
    .why-you-choose-us-Liu {
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-14606-5wP {
      width: 132.05rem;
      row-gap: 4rem;
      display: flex;
      flex-direction: column;

      .frame-24-zYZ {
        width: calc(100% - 2.85rem);
        height: 32.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 2.85rem;

        .group-20-jFF {
          width: 35.4rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 5.8rem;

          .ellipse-62-3Wq {
            left: 4rem;
            top: 3.1rem;
            background-color: rgba(255, 107, 44, 0.3400000036);
            border-radius: 14.3rem;
            width: 28.6rem;
            height: 28.6rem;
            position: absolute;
          }
          .ellipse-65-Bey {
            border-radius: 15.5rem;
            width: 31rem;
            height: 31rem;
            position: absolute;
            left: 2.8rem;
            top: 1.9rem;
            border: dashed 0.1rem rgba(255, 107, 44, 0.3199999928);
            box-sizing: border-box;
          }
          .image-2-htD {
            object-fit: cover;
            vertical-align: top;
            width: 25rem;
            height: 27.2rem;
            position: absolute;
            left: 5.8rem;
            top: 0;
          }
          .ellipse-63-eoT {
            top: 0.3rem;
            box-shadow: inset 2rem 1rem 2rem rgba(0, 0, 0, 0.400000006));
            background-color: rgba(255, 107, 44, 0.5400000215);
            border-radius: 2.8rem;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
            left: 29.8rem;
          }
          .ellipse-64-iYR {
            box-shadow: inset 2rem 1rem 2rem rgba(0, 0, 0, 0.400000006));
            background-color: rgba(255, 107, 44, 0.5400000215);
            border-radius: 2.8rem;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
            left: 0;
            top: 26.1rem;
          }
        }
        .frame-14602-Rxd {
          margin: 3.9rem 0rem 5.7rem 0rem;
          width: 88rem;
          height: calc(100% - 9.6rem);
          flex-shrink: 0;

          .services-ZJ9 {
            width: 100%;
            text-align: center;
            font-weight: 600;
            color: #ffffff;
            white-space: nowrap;
            margin-bottom: 2.7rem;
            font-size: 4rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-orem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-TuK {
            font-weight: 400;
            line-height: 1.5;
            color: #efefef;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 2.8rem;
            max-width: 88rem;
            font-size: 1.5rem;
          }
          .frame-14601-6SV {
            width: 16.3rem;
            line-height: 1.5;
            display: flex;
            background-color: #ff6b2c;
            justify-content: center;
            height: 5rem;
            font-size: 1.8rem;
            font-weight: 500;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            border-radius: 4rem;
          }
        }
      }
      .frame-25-CEd {
        width: calc(100% - 2.15rem);
        height: 32.6rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-left: 2.15rem;

        .frame-14603-LLq {
          margin: 0rem 6.5rem 1rem 0rem;
          width: 88rem;
          flex-shrink: 0;

          .order-tracking-2UZ {
            margin-bottom: 2.7rem;
            font-size: 4rem;
            font-weight: 600;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
            color: #ffffff;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-orem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-9p5 {
            max-width: 88rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #efefef;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 2.8rem;
          }
          .frame-14601-CnM {
            justify-content: center;
            border-radius: 4rem;
            height: 5rem;
            font-size: 1.8rem;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            align-items: center;
            width: 16.3rem;
            font-weight: 500;
            white-space: nowrap;
            display: flex;
            background-color: #ff6b2c;
          }
        }
        .group-21-ugm {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 35.4rem;

          .ellipse-62-GGR {
            height: 28.6rem;
            position: absolute;
            left: 4rem;
            top: 2.8rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 14.3rem;
            width: 28.6rem;
          }
          .ellipse-65-CA5 {
            border: dashed 0.1rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 15.5rem;
            width: 31rem;
            height: 31rem;
            position: absolute;
            left: 2.8rem;
            top: 1.6rem;
          }
          .image-2-iu7 {
            top: 3.5rem;
            object-fit: cover;
            vertical-align: top;
            width: 25rem;
            height: 27.2rem;
            position: absolute;
            left: 5.8rem;
          }
          .ellipse-63-xoT {
            top: 0;
            box-shadow: inset 2rem 1rem 2rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 2.8rem;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
            left: 29.8rem;
          }
          .ellipse-64-5NH {
            top: 25.8rem;
            box-shadow: inset 2rem 1rem 2rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 2.8rem;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
            left: 0;
          }
        }
      }
      .frame-27-o3P {
        height: 32.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 2.85rem;
        width: calc(100% - 2.85rem);

        .group-22-LZ7 {
          margin-right: 5.8rem;
          width: 35.4rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-62-tad {
            background-color: rgba(123, 227, 255, 0.1400000006);
            border-radius: 14.3rem;
            width: 28.6rem;
            height: 28.6rem;
            position: absolute;
            left: 4rem;
            top: 2.8rem;
          }
          .ellipse-65-bE9 {
            width: 31rem;
            height: 31rem;
            position: absolute;
            left: 2.8rem;
            top: 1.6rem;
            border: dashed 0.1rem #253437;
            box-sizing: border-box;
            border-radius: 15.5rem;
          }
          .image-2-hny {
            width: 25rem;
            height: 27.2rem;
            position: absolute;
            left: 5.8rem;
            top: 2.8rem;
            object-fit: cover;
            vertical-align: top;
          }
          .ellipse-63-3bw {
            border-radius: 2.8rem;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
            left: 29.8rem;
            top: 0;
            box-shadow: inset 2rem 1rem 2rem rgba(0, 0, 0, 0.400000006));
            background-color: #253437;
          }
          .ellipse-64-NeD {
            left: 0;
            top: 25.8rem;
            box-shadow: inset 2rem 1rem 2rem rgba(0, 0, 0, 0.400000006));
            background-color: #253437;
            border-radius: 2.8rem;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
          }
        }
        .frame-14604-6aD {
          width: 88rem;
          height: calc(100% - 9.3rem);
          flex-shrink: 0;
          margin: 3.6rem 0rem 5.7rem 0rem;

          .safe-secure-D93 {
            margin-bottom: 2.7rem;
            font-size: 4rem;
            line-height: 1.5;
            color: #ffffff;
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-orem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-LjT {
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 2.8rem;
            max-width: 88rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #efefef;
          }
          .frame-14601-m45 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 4rem;
            width: 16.3rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ff6b2c;
          }
        }
      }
      .frame-26-Fjw {
        flex-shrink: 0;
        margin-left: 2.15rem;
        width: calc(100% - 2.15rem);
        height: 32.6rem;
        display: flex;
        align-items: flex-end;

        .frame-14605-B7o {
          margin: 0rem 6.5rem 1rem 0rem;
          width: 88rem;
          flex-shrink: 0;

          .fast-delivery-6Vf {
            width: 100%;
            font-size: 4rem;
            margin-bottom: 2.7rem;
            text-align: center;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-orem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-S3j {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #efefef;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 2.8rem;
            max-width: 88rem;
          }
          .frame-14601-sPw {
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            align-items: center;
            width: 16.3rem;
            height: 5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            background-color: #ff6b2c;
            font-size: 1.8rem;
            white-space: nowrap;
            justify-content: center;
            border-radius: 4rem;
          }
        }
        .group-23-b53 {
          flex-shrink: 0;
          width: 35.4rem;
          height: 100%;
          position: relative;

          .ellipse-62-v7K {
            width: 28.6rem;
            height: 28.6rem;
            position: absolute;
            left: 4rem;
            top: 2.8rem;
            background-color: rgba(100, 100, 202, 0.3400000036);
            border-radius: 14.3rem;
          }
          .ellipse-65-eZ7 {
            box-sizing: border-box;
            border-radius: 15.5rem;
            width: 31rem;
            height: 31rem;
            position: absolute;
            left: 2.8rem;
            top: 1.6rem;
            border: dashed 0.1rem #313154;
          }
          .image-2-z7B {
            object-fit: cover;
            vertical-align: top;
            width: 25rem;
            height: 27.2rem;
            position: absolute;
            left: 5.8rem;
            top: 3.5rem;
          }
          .ellipse-63-8UH {
            left: 29.8rem;
            top: 0;
            box-shadow: inset 2rem 1rem 2rem rgba(0, 0, 0, 0.400000006));
            background-color: #313154;
            border-radius: 2.8rem;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
          }
          .ellipse-64-dfw {
            height: 5.6rem;
            position: absolute;
            left: 0;
            top: 25.8rem;
            box-shadow: inset 2rem 1rem 2rem rgba(0, 0, 0, 0.400000006));
            background-color: #313154;
            border-radius: 2.8rem;
            width: 5.6rem;
          }
        }
      }
    }
    .line-14-MM3 {
      width: 133.2rem;
      height: 0.1rem;
      background-color: rgba(255, 255, 255, 0.6499999762);
    }
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-orem-ipsum-dolor-sit-amet-consectetur-tbs {
    height: 4.5rem;
    left: 31.55rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #efefef;
    width: 88rem;
    top: 299.1rem;
    text-align: center;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
  }
  .auto-group-wzsm-WNM {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3.4rem 9rem 11.3rem 8rem;
    width: 151.2rem;
    height: 73.2rem;
    left: 0;
    top: 303.6rem;
    align-items: center;

    .line-15-1K7 {
      margin: 0rem 0rem 5.6rem 1rem;
      width: 133.2rem;
      height: 0.1rem;
      background-color: rgba(255, 255, 255, 0.6499999762);
      flex-shrink: 0;
    }
    .auto-group-w5ay-7N9 {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-jfny-scD {
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 5rem;
        width: 72.8rem;
        display: flex;
        border-bottom: solid 0.1rem rgba(255, 255, 255, 0.6000000238);
        margin-right: 5.9rem;

        .auto-group-yi1f-CPb {
          margin: 0rem 3rem 3.3rem 2.8rem;
          width: calc(100% - 5.8rem);
          height: 4.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .coconuts-jPX {
            margin: 0rem 38.6rem 0.1rem 0rem;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .frame-10-4Ro {
            box-sizing: border-box;
            padding: 1.2rem 2.128rem 1.2rem 2.028rem;
            width: 10.5rem;
            height: 100%;
            background-color: #ff6b2c;
            border-radius: 1rem;
            flex-shrink: 0;

            .frame-9-yof {
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;

              .more-jH3 {
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.5rem;
                font-size: 1.5rem;
              }
              .vector-32q {
                flex-shrink: 0;
                margin-top: 0rem;
                width: 2.0441rem;
                height: 2.0499rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
        .line-4-ANM {
          margin-bottom: 5.4rem;
          width: 100%;
          height: 0.1rem;
          background-color: rgba(255, 255, 255, 0.6000000238);
          flex-shrink: 0;
        }
        .auto-group-kqv5-JzM {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 3rem 4.6rem 2.8rem;
          width: calc(100% - 5.8rem);
          height: 4.7rem;

          .potato-F8u {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 43.1rem 0.1rem 0rem;
            font-size: 2.8rem;
            font-weight: 500;
          }
          .frame-14598-9EH {
            height: 100%;
            background-color: #ff6b2c;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.2rem 2.128rem 1.2rem 2.028rem;
            width: 10.5rem;

            .frame-9-5dj {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .more-egq {
                margin-right: 0.5rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .vector-YnD {
                margin-top: 0rem;
                width: 2.0441rem;
                height: 2.0499rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .line-5-HE1 {
          height: 0.1rem;
          background-color: rgba(255, 255, 255, 0.6000000238);
          flex-shrink: 0;
          margin-bottom: 5rem;
          width: 100%;
        }
        .auto-group-2w9k-2hP {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 3rem 4.6rem 2.8rem;
          width: calc(100% - 5.8rem);
          height: 4.7rem;
          display: flex;

          .black-pepper-jbo {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 33.9rem 0rem 0rem;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .frame-14599-SWD {
            height: 100%;
            background-color: #ff6b2c;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.2rem 2.128rem 1.2rem 2.028rem;
            width: 10.5rem;

            .frame-9-N8y {
              height: 100%;
              display: flex;
              align-items: center;
              width: 100%;

              .more-jVK {
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.5rem;
                font-size: 1.5rem;
                font-weight: 500;
              }
              .vector-Uho {
                height: 2.0499rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0rem;
                width: 2.0441rem;
              }
            }
          }
        }
        .line-6-ok5 {
          margin-bottom: 5.5rem;
          width: 100%;
          height: 0.1rem;
          background-color: rgba(255, 255, 255, 0.6000000238);
          flex-shrink: 0;
        }
        .auto-group-is65-YSm {
          margin: 0rem 3rem 4.9rem 2.8rem;
          width: calc(100% - 5.8rem);
          height: 4.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .more-products-5hb {
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 31.9rem 0.1rem 0rem;
          }
          .frame-14600-1bF {
            box-sizing: border-box;
            padding: 1.2rem 2.128rem 1.2rem 2.028rem;
            width: 10.5rem;
            height: 100%;
            background-color: #ff6b2c;
            border-radius: 1rem;
            flex-shrink: 0;

            .frame-9-xFb {
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;

              .more-Kbw {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.5rem;
              }
              .vector-FVb {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0rem;
                width: 2.0441rem;
                height: 2.0499rem;
              }
            }
          }
        }
      }
      .frame-28-XCD {
        flex-direction: column;
        background-color: #3a3a3a;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 52.7441rem;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        margin-bottom: 0.0559rem;
        padding: 0.829rem 4.246rem 4.312rem 4.054rem;
        width: 55.5rem;

        .image-4-17P {
          margin: 0rem 0rem 0.663rem 0.766rem;
          width: 23.1569rem;
          height: 20.5669rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .coconuts-jJH {
          margin: 0rem 0rem 2.971rem 0.574rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 600;
          color: #ffffff;
          white-space: nowrap;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-bE1 {
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 3.1079rem;
          max-width: 47.2rem;
          text-align: center;
          font-size: 2rem;
        }
        .frame-14607-4tH {
          height: 8.2931rem;
          font-weight: 500;
          justify-content: center;
          width: calc(100% - 16.0052rem);
          font-size: 1.8rem;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 7.811rem 0rem 8.194rem;
          align-items: center;
          background-color: #ff6b2c;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          border-radius: 4rem;
          color: #ffffff;
        }
      }
    }
  }
  .our-products-KZK {
    width: 31.8rem;
    left: 59.7rem;
    font-size: 4.8rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 7.2rem;
    position: absolute;
    top: 289.6rem;
    font-weight: 600;
    line-height: 1.5;
  }
  .auto-group-7nqy-z9f {
    align-items: center;
    background-color: #171717;
    padding: 5.6rem 14rem 5.6rem 9rem;
    height: 41.7rem;
    top: 376.8rem;
    left: 0;
    display: flex;
    box-sizing: border-box;
    width: 151.2rem;
    position: absolute;

    .frame-14609-4QR {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 27.9rem;
      height: 100%;
      display: flex;

      .get-started-your-first-order-with-us-DHK {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.1rem;
        max-width: 50.2rem;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-orem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-XJ1 {
        color: #efefef;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.2rem;
        max-width: 71.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .frame-14608-xeD {
        font-weight: 500;
        background-color: #ff6b2c;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        width: 16.3rem;
        height: 5rem;
        color: #ffffff;
        align-items: center;
        font-size: 1.8rem;
        justify-content: center;
        border-radius: 4rem;
        flex-shrink: 0;
      }
    }
    .image-5-sFP {
      margin-top: 0.1rem;
      width: 28.8rem;
      height: 28.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .frame-14596-z57 {
    left: 0;
    top: 466.5rem;
    background-color: #202020;
    box-sizing: border-box;
    padding: 7.679rem 53.5rem 7.734rem 53.5rem;
    width: 151.5rem;
    height: 34.5rem;
    position: absolute;

    .frame-14596-seh {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 100%;

      .frame-14588-SSu {
        margin-right: 15.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .general-CS5 {
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8468rem;
          font-size: 2.5097rem;
          line-height: 1.5;
          letter-spacing: -0.005rem;
        }
        .about-us-84q {
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
        }
        .services-4jB {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .frame-14589-PmT {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .policies-kM7 {
          margin-bottom: 1.8468rem;
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          font-size: 2.5097rem;
          letter-spacing: -0.005rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .security-safeguards-4ch {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
          font-weight: 400;
        }
        .terms-of-service-129 {
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .privacy-wRb {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6136rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .accessibility-Teq {
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-15437-mvR {
    top: 426.6rem;
    display: flex;
    align-items: flex-start;
    width: 91.2rem;
    height: 34.4rem;
    position: absolute;
    left: 30rem;

    .auto-group-osqu-umj {
      width: 43rem;
      flex-shrink: 0;
      margin: 0.9rem 13.8rem 0rem 0rem;

      .coming-soon-rBB {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.4rem;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .android-ios-M7w {
        margin-bottom: 3.6rem;
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-14757-ttZ {
        margin-right: 3rem;
        width: calc(100% - 3rem);
        height: 6.4rem;
        display: flex;
        align-items: center;

        .frame-12-ExR {
          align-items: center;
          background-color: #272727;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3rem;
          box-sizing: border-box;
          padding: 1.7rem 1.431rem 1.7rem 1.5rem;
          height: 100%;
          display: flex;

          .image-4-P4d {
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 2.3689rem;
            height: 2.6rem;
            position: relative;
            background-size: 146.341% 100%;
            background-position: -0.5778rem 0;
            background-image: url('REPLACE_IMAGE:7318ab3f6c4de51b4efd2f85b0d9b4cfa7c953e1');
          }
          .google-play-tGH {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-11-QkR {
          box-sizing: border-box;
          padding: 1.7rem 3.57rem 1.7rem 0.9rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #272727;
          border-radius: 1rem;
          flex-shrink: 0;

          .image-6-xG9 {
            position: relative;
            background-size: 169.54% 99.962%;
            background-position: -0.9922rem 0;
            background-image: url('REPLACE_IMAGE:631f48e308d90494a6af2a636ce92d4fc9ad7923');
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 2.8301rem;
            height: 2.7rem;
          }
          .app-store-EzM {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
      }
    }
    .image-13-LXb {
      vertical-align: top;
      flex-shrink: 0;
      width: 34.4rem;
      height: 34.4rem;
      object-fit: cover;
    }
  }
}
