
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.our-products-dSZ {
  flex-direction: column;
  background-color: #0b0b0b;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-yfrs-ASV {
    width: 100%;
    height: 100rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-wzqp-hxD {
      height: 10rem;
      position: absolute;
      left: 9rem;
      top: 0;
      display: flex;
      align-items: center;
      width: 133.2rem;

      .whatsappimage2023-09-05at1214-1-e6m {
        margin: 1.2rem 21.992rem 0rem 0rem;
        width: 7.3079rem;
        height: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-fg2d-w5s {
        margin-right: 15.3rem;
        width: 74.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-14600-4AV {
          top: 4.3rem;
          display: flex;
          column-gap: 4rem;
          align-items: center;
          width: 74.7rem;
          height: 2.7rem;
          position: absolute;
          left: 0;

          .home-mKo {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .about-us-iF3 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .contact-us-rs3 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .our-partners-pJ5 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .our-products-ieM {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ff6b2c;
            font-family: Poppins, 'Source Sans Pro';
          }
          .services-sXF {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .line-10-RYm {
          width: 0.1rem;
          height: 10rem;
          position: absolute;
          left: 7.3rem;
          top: 0;
          background-color: #575757;
        }
        .line-11-11B {
          width: 0.1rem;
          height: 10rem;
          position: absolute;
          left: 19.8rem;
          top: 0;
          background-color: #575757;
        }
        .line-12-9dB {
          background-color: #575757;
          width: 0.1rem;
          height: 10rem;
          position: absolute;
          left: 33.6rem;
          top: 0;
        }
        .line-13-uMT {
          height: 10rem;
          position: absolute;
          left: 49.6rem;
          top: 0;
          background-color: #575757;
          width: 0.1rem;
        }
        .line-21-rXb {
          width: 0.1rem;
          height: 10rem;
          position: absolute;
          left: 65.6rem;
          top: 0;
          background-color: #575757;
        }
      }
      .frame-14597-ng9 {
        width: 13.9rem;
        font-size: 1.8rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: calc(100% - 5rem);
        line-height: 1.5;
        white-space: nowrap;
        justify-content: center;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        border-radius: 4rem;
        flex-shrink: 0;
        margin: 3.2rem 0rem 1.8rem 0rem;
        background-color: #ff6b2c;
      }
    }
    .line-9-sBo {
      position: absolute;
      left: 9rem;
      top: 10rem;
      background-color: rgba(87, 87, 87, 0.6499999762);
      width: 133.2rem;
      height: 0.1rem;
    }
    .our-products-Czm {
      font-size: 4rem;
      font-weight: 600;
      color: #ffffff;
      width: 26.5rem;
      height: 6rem;
      position: absolute;
      top: 14.7rem;
      left: 9rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-20-WEm {
      width: 133.2rem;
      height: 0.15rem;
      position: absolute;
      left: 9rem;
      top: 21.9rem;
      background-color: rgba(255, 255, 255, 0.7799999714);
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-id-r3j {
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      width: 133rem;
      position: absolute;
      left: 9rem;
      top: 24.9rem;
      font-weight: 400;
      height: 12rem;
      font-size: 2rem;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-dih {
      width: 133.2rem;
      height: 18rem;
      position: absolute;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      left: 9rem;
      top: 78.3rem;
      font-size: 2rem;
      line-height: 1.5;
      color: #ffffff;
    }
    .auto-group-ppc9-Usj {
      display: flex;
      align-items: flex-end;
      width: 133.3528rem;
      height: 31.4107rem;
      position: absolute;
      left: 9rem;
      top: 43.1rem;

      .group-14598-o9K {
        background-color: #3a3a3a;
        border-radius: 0.2879rem;
        padding: 0.477rem 2.431rem 2.483rem 2.321rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 1.6962rem;
        box-sizing: border-box;
        width: 31.9528rem;

        .image-4-tgZ {
          width: 13.332rem;
          height: 11.8409rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.904rem 0.441rem;
        }
        .coconuts-CBT {
          margin: 0rem 0rem 1.115rem 0.331rem;
          text-align: center;
          font-size: 1.1515rem;
          color: #ff6b2c;
          font-family: Poppins, 'Source Sans Pro';
          font-weight: 600;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-gcR {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 27.2rem;
          text-align: center;
          font-size: 1.1515rem;
          margin-bottom: 1.7709rem;
          font-weight: 500;
        }
        .frame-14607-Nk9 {
          background-color: #ff6b2c;
          margin: 0rem 4.51rem 0rem 4.73rem;
          width: calc(100% - 9.2403rem);
          font-size: 1.0363rem;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          border-radius: 2.3029rem;
          height: 4.7746rem;
          font-weight: 500;
          line-height: 1.5;
          display: flex;
          justify-content: center;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .group-14599-DEy {
        margin: 0rem 1.845rem 0rem 0rem;
        width: 31.9528rem;
        height: calc(100% - 0rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-6-wgm {
          height: 30.3662rem;
          position: absolute;
          left: 0;
          top: 1.0445rem;
          background-color: #3a3a3a;
          border-radius: 0.2879rem;
          width: 31.9528rem;
        }
        .tender-coconut-HVj {
          width: 9.4rem;
          position: absolute;
          left: 11.2935rem;
          text-align: center;
          color: #ff6b2c;
          height: 1.8rem;
          top: 14.2671rem;
          font-size: 1.1515rem;
          font-weight: 600;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .image-4-bWR {
          position: absolute;
          left: 7.7594rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 16.7126rem;
          height: 14.8473rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-KhK {
          width: 27.2rem;
          text-align: center;
          font-size: 1.1515rem;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          height: 5.2rem;
          position: absolute;
          left: 2.3213rem;
          top: 17.1825rem;
          color: #ffffff;
        }
        .frame-14607-cAd {
          font-weight: 500;
          color: #ffffff;
          left: 7.0517rem;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border-radius: 2.3029rem;
          width: 17.9597rem;
          height: 4.7746rem;
          display: flex;
          top: 24.1534rem;
          line-height: 1.5;
          white-space: nowrap;
          background-color: #ff6b2c;
          position: absolute;
          font-size: 1.0363rem;
        }
      }
      .group-14600-gwB {
        background-color: #3a3a3a;
        margin-right: 2rem;
        box-sizing: border-box;
        width: 31.9528rem;
        flex-direction: column;
        border-radius: 0.2879rem;
        flex-shrink: 0;
        padding: 0.477rem 2.431rem 2.483rem 2.321rem;
        align-items: center;
        display: flex;

        .image-4-kw3 {
          height: 11.8409rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.904rem 0.441rem;
          width: 13.332rem;
        }
        .black-pepper-h5b {
          text-align: center;
          font-size: 1.1515rem;
          line-height: 1.5;
          margin: 0rem 0rem 1.115rem 0.331rem;
          color: #ff6b2c;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 600;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-yYu {
          text-align: center;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          color: #ffffff;
          margin-bottom: 1.7709rem;
          max-width: 27.2rem;
          font-size: 1.1515rem;
          font-weight: 500;
        }
        .frame-14607-sPP {
          font-size: 1.0363rem;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 4.51rem 0rem 4.73rem;
          height: 4.7746rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ff6b2c;
          flex-shrink: 0;
          width: calc(100% - 9.2403rem);
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          border-radius: 2.3029rem;
        }
      }
      .group-15416-snh {
        margin-bottom: 0.0445rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #3a3a3a;
        box-sizing: border-box;
        padding: 0.477rem 2.431rem 2.483rem 2.321rem;
        width: 31.9528rem;
        border-radius: 0.2879rem;
        flex-shrink: 0;

        .image-4-Ca5 {
          height: 11.8409rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.904rem 0.441rem;
          width: 13.332rem;
        }
        .coconut-oil-ja1 {
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 1.115rem 0.331rem;
          font-size: 1.1515rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ff6b2c;
          text-align: center;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-46V {
          margin-bottom: 1.7709rem;
          font-size: 1.1515rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 27.2rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.5;
          flex-shrink: 0;
        }
        .frame-14607-uN1 {
          border-radius: 2.3029rem;
          margin: 0rem 4.51rem 0rem 4.73rem;
          line-height: 1.5;
          color: #ffffff;
          background-color: #ff6b2c;
          align-items: center;
          flex-shrink: 0;
          font-size: 1.0363rem;
          font-family: Poppins, 'Source Sans Pro';
          font-weight: 500;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          width: calc(100% - 9.2403rem);
          height: 4.7746rem;
        }
      }
    }
  }
  .group-15415-MUu {
    box-sizing: border-box;
    padding: 7.679rem 53.5rem 7.734rem 53.5rem;
    width: 100%;
    height: 34.5rem;
    background-color: #202020;
    flex-shrink: 0;

    .frame-14596-sTF {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 100%;

      .group-14588-p7b {
        margin-right: 15.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .general-AhF {
          letter-spacing: -0.005rem;
          flex-shrink: 0;
          font-weight: 500;
          font-size: 2.5097rem;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.8468rem;
        }
        .about-us-JYZ {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .services-Rt5 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .group-14589-P4D {
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .policies-5xd {
          font-size: 2.5097rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.8468rem;
          letter-spacing: -0.005rem;
          flex-shrink: 0;
        }
        .security-safeguards-bg5 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
        .terms-of-service-wE9 {
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .privacy-H37 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6136rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
        .accessibility-2mP {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
  }
}
