
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.our-partners-kcZ {
  background-color: #0b0b0b;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-eefj-UHf {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 120.1rem;

    .auto-group-4hrj-RCu {
      top: 0;
      display: flex;
      align-items: center;
      width: 133.2rem;
      height: 10rem;
      position: absolute;
      left: 9rem;

      .whatsappimage2023-09-05at1214-1-xCq {
        margin: 1.2rem 21.992rem 0rem 0rem;
        width: 7.3079rem;
        height: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-eztw-4Wm {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 15.3rem;
        width: 74.7rem;

        .frame-14600-ydj {
          display: flex;
          column-gap: 4rem;
          align-items: center;
          width: 74.7rem;
          height: 2.7rem;
          position: absolute;
          left: 0;
          top: 4.3rem;

          .home-tVo {
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .about-us-2c1 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
          }
          .contact-us-MPP {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .our-partners-6rm {
            line-height: 1.5;
            color: #ff6b2c;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
          }
          .our-products-4Ho {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
          }
          .services-p25 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .line-10-ZVT {
          top: 0;
          background-color: #575757;
          width: 0.1rem;
          height: 10rem;
          position: absolute;
          left: 7.3rem;
        }
        .line-11-4x1 {
          width: 0.1rem;
          height: 10rem;
          position: absolute;
          left: 19.8rem;
          top: 0;
          background-color: #575757;
        }
        .line-12-pRP {
          left: 33.7rem;
          top: 0;
          background-color: #575757;
          width: 0.1rem;
          height: 10rem;
          position: absolute;
        }
        .line-13-9yT {
          width: 0.1rem;
          height: 10rem;
          position: absolute;
          left: 49.6rem;
          top: 0;
          background-color: #575757;
        }
        .line-22-uhj {
          position: absolute;
          left: 65.6rem;
          top: 0;
          background-color: #575757;
          width: 0.1rem;
          height: 10rem;
        }
      }
      .frame-14597-dtd {
        font-weight: 500;
        white-space: nowrap;
        display: flex;
        margin: 3.2rem 0rem 1.8rem 0rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        height: calc(100% - 5rem);
        align-items: center;
        font-size: 1.8rem;
        line-height: 1.5;
        justify-content: center;
        background-color: #ff6b2c;
        border-radius: 4rem;
        flex-shrink: 0;
        width: 13.9rem;
      }
    }
    .frame-14601-tZf {
      align-items: center;
      border-radius: 4rem;
      width: 18.8rem;
      color: #ffffff;
      white-space: nowrap;
      left: 66.2rem;
      font-weight: 500;
      top: 108.6rem;
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      height: 5rem;
      position: absolute;
      background-color: #ff6b2c;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
    .frame-14602-nQ9 {
      justify-content: center;
      width: 25.2rem;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      line-height: 1.5;
      align-items: center;
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
      background-color: #ff6b2c;
      border-radius: 4rem;
      height: 5rem;
      position: absolute;
      top: 78rem;
      left: 42rem;
      font-size: 1.8rem;
    }
    .line-9-eBT {
      height: 0.1rem;
      position: absolute;
      left: 9rem;
      top: 10rem;
      background-color: rgba(87, 87, 87, 0.6499999762);
      width: 133.2rem;
    }
    .auto-group-8ech-AQh {
      display: flex;
      align-items: flex-end;
      width: 131.9rem;
      height: 25.6rem;
      position: absolute;
      left: 9rem;
      top: 14.7rem;

      .auto-group-c9qt-Vxm {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.3rem 0.4rem 0rem;

        .our-partners-EvM {
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          font-size: 4rem;
        }
        .line-20-MVB {
          background-color: rgba(255, 255, 255, 0.7799999714);
          flex-shrink: 0;
          margin-bottom: 2.85rem;
          width: 96rem;
          height: 0.15rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-id-hJ9 {
          max-width: 100.1rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .image-6-SQ9 {
        background-size: 124.309% 160.714%;
        background-position: -3.8757rem -10.5357rem;
        background-image: url('REPLACE_IMAGE:f9daf3a52e9d3d5edfbde693adf9773daade84cd');
        flex-shrink: 0;
        width: 30.5rem;
        height: 23.6rem;
        position: relative;
      }
    }
    .auto-group-uec1-YTB {
      left: 9.4rem;
      top: 50rem;
      display: flex;
      align-items: flex-start;
      width: 132.7rem;
      height: 27.3rem;
      position: absolute;

      .image-7-rim {
        height: 26.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.7rem 6.8rem 0rem 0rem;
        width: 25.8rem;
      }
      .auto-group-gntk-YrV {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .become-our-partner-iFB {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .line-21-rcH {
          flex-shrink: 0;
          margin-bottom: 2.85rem;
          width: 96rem;
          height: 0.15rem;
          background-color: rgba(255, 255, 255, 0.7799999714);
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-id-bpm {
          flex-shrink: 0;
          max-width: 100.1rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .group-15414-bTP {
      align-items: flex-end;
      width: 97.3rem;
      height: 12.0599rem;
      position: absolute;
      left: 27rem;
      top: 91.9rem;
      display: flex;

      .amazon-png-0-w1T {
        margin-right: 6.3992rem;
        width: 19.5256rem;
        height: 10.7473rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .flipkart-png-0-Siu {
        margin: 0rem 6.399rem 1.313rem 0rem;
        width: 19.5256rem;
        height: 10.7473rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .jiomart-png-0-mmB {
        height: 10.7473rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 6.3992rem;
        width: 19.5256rem;
      }
      .food-network-png-0-v8H {
        vertical-align: top;
        flex-shrink: 0;
        width: 19.5256rem;
        height: 10.7473rem;
        object-fit: contain;
      }
    }
  }
  .group-14603-3Cu {
    padding: 7.679rem 53.5rem 7.734rem 53.5rem;
    width: 100%;
    height: 34.5rem;
    background-color: #202020;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-14596-AoK {
      height: 100%;
      display: flex;
      align-items: flex-start;
      width: 100%;

      .group-14588-WcH {
        margin-right: 15.7rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .general-GbT {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.8208rem;
          font-weight: 500;
          letter-spacing: -0.005rem;
          white-space: nowrap;
          font-size: 2.5097rem;
        }
        .about-us-AB3 {
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
        }
        .services-WEu {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .group-14589-41X {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .policies-ny7 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8468rem;
          font-size: 2.5097rem;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: -0.005rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .security-safeguards-j7f {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
          font-weight: 400;
        }
        .terms-of-service-sDs {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
          font-weight: 400;
        }
        .privacy-chF {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6136rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .accessibility-Aim {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
  }
}
