
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.services-iYH {
  position: relative;
  overflow: hidden;
  background-color: #0b0b0b;
  width: 100%;
  height: 255.1rem;

  .auto-group-bcwd-TVs {
    width: 133.2rem;
    height: 10rem;
    position: absolute;
    left: 9rem;
    top: 0;
    display: flex;
    align-items: center;

    .whatsappimage2023-09-05at1214-1-mFf {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.2rem 21.992rem 0rem 0rem;
      width: 7.3079rem;
      height: 6.8rem;
    }
    .auto-group-t6ro-sZb {
      margin-right: 15.4rem;
      width: 74.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .frame-14600-pDw {
        display: flex;
        column-gap: 4rem;
        align-items: center;
        width: 74.6rem;
        height: 2.7rem;
        position: absolute;
        left: 0;
        top: 4.3rem;

        .home-YQq {
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
        .about-us-UpH {
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
        .contact-us-DG5 {
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
        .our-partners-m2h {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .our-products-vAV {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .services-5JH {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ff6b2c;
        }
      }
      .line-10-2jK {
        width: 0.1rem;
        height: 10rem;
        position: absolute;
        left: 7.3rem;
        top: 0;
        background-color: #575757;
      }
      .line-11-Lzu {
        top: 0;
        background-color: #575757;
        width: 0.1rem;
        height: 10rem;
        position: absolute;
        left: 19.8rem;
      }
      .line-12-TZj {
        background-color: #575757;
        width: 0.1rem;
        height: 10rem;
        position: absolute;
        left: 33.6rem;
        top: 0;
      }
      .line-13-BEq {
        left: 48.6rem;
        top: 0;
        background-color: #575757;
        width: 0.1rem;
        height: 10rem;
        position: absolute;
      }
      .line-21-8Qy {
        width: 0.1rem;
        height: 10rem;
        position: absolute;
        left: 65.1rem;
        top: 0;
        background-color: #575757;
      }
    }
    .frame-14597-stM {
      justify-content: center;
      border-radius: 4rem;
      white-space: nowrap;
      display: flex;
      background-color: #ff6b2c;
      font-size: 1.8rem;
      width: 13.9rem;
      font-weight: 500;
      margin: 3.2rem 0rem 1.8rem 0rem;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      flex-shrink: 0;
      height: calc(100% - 5rem);
    }
  }
  .line-9-kx9 {
    top: 10rem;
    background-color: rgba(87, 87, 87, 0.6499999762);
    width: 133.2rem;
    height: 0.1rem;
    position: absolute;
    left: 9rem;
  }
  .services-for-partners-721 {
    position: absolute;
    left: 9rem;
    top: 14.7rem;
    font-size: 4rem;
    font-weight: 600;
    color: #ffffff;
    width: 42.1rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 6rem;
  }
  .benefits-of-being-partner-Daq {
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    top: 142rem;
    height: 4.8rem;
    position: absolute;
    left: 9rem;
    font-size: 3.2rem;
    font-weight: 600;
    color: #ffffff;
    width: 40.2rem;
  }
  .line-20-LfT {
    width: 133.2rem;
    height: 0.15rem;
    position: absolute;
    left: 9rem;
    top: 21.9rem;
    background-color: rgba(255, 255, 255, 0.7799999714);
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-idsit-purus-ante-dictum-in-malesuada-idlorem-ipsum-dolor-sit-amet-consectetur-at-consequat-purus-hendrerit-proin-risus-sit-purus-ante-dictum-in-malesuada-id-q6R {
    width: 133rem;
    height: 12rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    position: absolute;
    left: 9rem;
    top: 26.2rem;
    font-family: Poppins, 'Source Sans Pro';
  }
  .frame-14755-Dcm {
    top: 46.9rem;
    align-items: center;
    display: flex;
    position: absolute;
    left: 10.8rem;
    row-gap: 6.3rem;
    flex-direction: column;
    width: 129.5858rem;
    height: 86.7rem;

    .frame-14752-8jj {
      width: 100%;
      height: 24.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-15421-Hcd {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 10rem;
        width: 17.9172rem;
        height: 100%;
        align-items: center;

        .group-15416-DFP {
          height: 16.5rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;

          .ellipse-66-utu {
            position: absolute;
            left: 2rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
            width: 14.4755rem;
            height: 14.4755rem;
          }
          .ellipse-67-2id {
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
          }
          .ellipse-68-KSq {
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
          }
          .ellipse-69-yXP {
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
          }
          .image-8-W1X {
            height: 12.1rem;
            position: absolute;
            left: 3.2rem;
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 12.1rem;
          }
        }
        .order-booking-q3o {
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.0828rem;
          max-width: 8.2rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          color: #e0e0e0;
        }
      }
      .group-15422-M29 {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 10rem;
        width: 17.9172rem;
        height: 100%;
        align-items: center;
        display: flex;

        .group-15417-Vu3 {
          position: relative;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;

          .ellipse-70-2e5 {
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
          }
          .ellipse-71-MAZ {
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
          }
          .ellipse-72-4Ks {
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
          }
          .ellipse-73-P7F {
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
          }
          .image-9-JV7 {
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 12.1rem;
            height: 12.1rem;
            position: absolute;
            left: 3.2rem;
          }
        }
        .add-retailers-eJ5 {
          font-size: 2rem;
          line-height: 1.5;
          color: #e0e0e0;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.0828rem;
          max-width: 8.8rem;
          text-align: center;
        }
      }
      .group-15423-x3s {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 9.9999rem;
        width: 17.9172rem;
        height: 100%;

        .group-15418-Hbw {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;
          position: relative;

          .ellipse-74-eBb {
            border-radius: 7.2377rem;
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
          }
          .ellipse-75-9PF {
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
          }
          .ellipse-76-rHf {
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
            top: 0;
          }
          .ellipse-77-ZC5 {
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 0;
            top: 13.0583rem;
          }
          .image-10-syT {
            width: 12.1rem;
            height: 12.1rem;
            position: absolute;
            left: 3.9rem;
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .receivables-order-history-145 {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.0172rem;
          max-width: 13.2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #e0e0e0;
          text-align: center;
          font-size: 2rem;
        }
      }
      .group-15424-hSh {
        flex-shrink: 0;
        margin-right: 10rem;
        width: 17.9172rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-15419-esj {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;
          position: relative;
          flex-shrink: 0;

          .ellipse-78-c3s {
            height: 14.4755rem;
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
            width: 14.4755rem;
          }
          .ellipse-79-wbw {
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
          }
          .ellipse-80-4Am {
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
          }
          .ellipse-81-NSM {
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
          }
          .image-11-Tih {
            height: 12.1rem;
            position: absolute;
            left: 3.9rem;
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 12.1rem;
          }
        }
        .collections-recording-zyX {
          flex-shrink: 0;
          margin-right: 0.0172rem;
          max-width: 11.3rem;
          font-weight: 500;
          line-height: 1.5;
          color: #e0e0e0;
          font-family: Poppins, 'Source Sans Pro';
          text-align: center;
          font-size: 2rem;
        }
      }
      .group-15425-vMP {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 17.9172rem;

        .group-15420-gLZ {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;
          position: relative;
          flex-shrink: 0;

          .ellipse-82-dWh {
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
          }
          .ellipse-83-wnH {
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
          }
          .ellipse-84-UGR {
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
          }
          .ellipse-85-97f {
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
          }
          .image-12-GTB {
            object-fit: cover;
            vertical-align: top;
            width: 12.1rem;
            height: 12.1rem;
            position: absolute;
            left: 3rem;
            top: 2.6rem;
          }
        }
        .attendance-gps-QpH {
          margin-right: 0.0172rem;
          max-width: 11.9rem;
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #e0e0e0;
        }
      }
    }
    .frame-14753-iKB {
      height: 24.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .group-15421-4tq {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 10rem;
        width: 17.9172rem;
        height: 100%;

        .group-15416-dBF {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;
          position: relative;

          .ellipse-66-wSq {
            border-radius: 7.2377rem;
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
            left: 2rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
          }
          .ellipse-67-AqP {
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
          }
          .ellipse-68-hqK {
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
          }
          .ellipse-69-EKT {
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
          }
          .image-8-LdP {
            left: 3.2rem;
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 12.1rem;
            height: 12.1rem;
            position: absolute;
          }
        }
        .stock-enquiry-HYd {
          text-align: center;
          font-size: 2rem;
          line-height: 1.5;
          color: #e0e0e0;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 7.5rem;
          font-weight: 500;
          margin-left: 0.0828rem;
        }
      }
      .group-15422-DhB {
        flex-shrink: 0;
        margin-right: 10rem;
        width: 17.9172rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-15417-MYV {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;
          position: relative;
          flex-shrink: 0;

          .ellipse-70-upu {
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
          }
          .ellipse-71-rEM {
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
          }
          .ellipse-72-nNu {
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
          }
          .ellipse-73-WZo {
            height: 2.8344rem;
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
          }
          .image-9-SCZ {
            left: 3.2rem;
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 12.1rem;
            height: 12.1rem;
            position: absolute;
          }
        }
        .route-planning-ZY5 {
          margin-left: 1.9484rem;
          max-width: 8.9rem;
          text-align: center;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          line-height: 1.5;
          color: #e0e0e0;
          flex-shrink: 0;
        }
      }
      .group-15423-Hys {
        width: 17.9172rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-15418-pD7 {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;
          position: relative;
          flex-shrink: 0;

          .ellipse-74-me9 {
            border-radius: 7.2377rem;
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
          }
          .ellipse-75-6wK {
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
          }
          .ellipse-76-qP7 {
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
          }
          .ellipse-77-ARP {
            height: 2.8344rem;
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
          }
          .image-10-sKo {
            top: 3.8rem;
            object-fit: cover;
            vertical-align: top;
            width: 9.8rem;
            height: 9.8rem;
            position: absolute;
            left: 4.3656rem;
          }
        }
        .expenses-submission-1gu {
          font-weight: 500;
          line-height: 1.5;
          color: #e0e0e0;
          flex-shrink: 0;
          margin-right: 0.0172rem;
          max-width: 11.8rem;
          font-family: Poppins, 'Source Sans Pro';
          text-align: center;
          font-size: 2rem;
        }
      }
      .auto-group-x1m3-Khb {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 9.9999rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .group-15424-UKb {
          flex-shrink: 0;
          margin-right: 10rem;
          width: 17.9172rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .group-15419-dCV {
            margin-bottom: 2.2rem;
            width: 100%;
            height: 16.5rem;
            position: relative;
            flex-shrink: 0;

            .ellipse-78-n5P {
              height: 14.4755rem;
              position: absolute;
              left: 2.0245rem;
              top: 1.4172rem;
              background-color: rgba(161, 130, 117, 0.3400000036);
              border-radius: 7.2377rem;
              width: 14.4755rem;
            }
            .ellipse-79-WXB {
              left: 1.4172rem;
              top: 0.8098rem;
              border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
              box-sizing: border-box;
              border-radius: 7.8451rem;
              width: 15.6901rem;
              height: 15.6902rem;
              position: absolute;
            }
            .ellipse-80-nzV {
              position: absolute;
              left: 15.0828rem;
              top: 0;
              box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
              background-color: #463c37;
              border-radius: 1.4172rem;
              width: 2.8344rem;
              height: 2.8344rem;
            }
            .ellipse-81-v57 {
              box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
              background-color: #463c37;
              border-radius: 1.4172rem;
              width: 2.8344rem;
              height: 2.8344rem;
              position: absolute;
              left: 0;
              top: 13.0583rem;
            }
            .image-11-aQZ {
              height: 12.1rem;
              position: absolute;
              left: 3.9rem;
              top: 2.6rem;
              object-fit: cover;
              vertical-align: top;
              width: 12.1rem;
            }
          }
          .invoicing-X4u {
            text-align: center;
            font-family: Poppins, 'Source Sans Pro';
            margin-right: 0.0172rem;
            font-weight: 500;
            line-height: 1.5;
            color: #e0e0e0;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
        }
        .group-15425-efK {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 17.9172rem;
          align-items: center;

          .group-15420-DCd {
            margin-bottom: 2.2rem;
            width: 100%;
            height: 16.5rem;
            position: relative;
            flex-shrink: 0;

            .ellipse-82-8aV {
              position: absolute;
              left: 2.0245rem;
              top: 1.4172rem;
              background-color: rgba(161, 130, 117, 0.3400000036);
              border-radius: 7.2377rem;
              width: 14.4755rem;
              height: 14.4755rem;
            }
            .ellipse-83-RpV {
              border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
              box-sizing: border-box;
              border-radius: 7.8451rem;
              width: 15.6901rem;
              height: 15.6902rem;
              position: absolute;
              left: 1.4172rem;
              top: 0.8098rem;
            }
            .ellipse-84-gkR {
              border-radius: 1.4172rem;
              width: 2.8344rem;
              height: 2.8344rem;
              position: absolute;
              left: 15.0828rem;
              top: 0;
              box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
              background-color: #463c37;
            }
            .ellipse-85-o4M {
              height: 2.8344rem;
              position: absolute;
              left: 0;
              top: 13.0583rem;
              box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
              background-color: #463c37;
              border-radius: 1.4172rem;
              width: 2.8344rem;
            }
            .image-12-f6Z {
              object-fit: cover;
              vertical-align: top;
              width: 12.1rem;
              height: 12.1rem;
              position: absolute;
              left: 3rem;
              top: 2.6rem;
            }
          }
          .van-sales-Nmf {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #e0e0e0;
            white-space: nowrap;
            margin-right: 0.0172rem;
            text-align: center;
          }
        }
      }
    }
    .frame-14754-Htd {
      width: 100%;
      height: 24.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-15421-DXP {
        margin-right: 10rem;
        width: 17.9172rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-15416-xzm {
          height: 16.5rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;

          .ellipse-66-uv1 {
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
            left: 2rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
          }
          .ellipse-67-q2y {
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
          }
          .ellipse-68-vq7 {
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
            top: 0;
          }
          .ellipse-69-qx5 {
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
          }
          .image-8-j1s {
            width: 12.1rem;
            height: 12.1rem;
            position: absolute;
            left: 3.2rem;
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .teams-tracking-SBB {
          font-size: 2rem;
          margin-left: 0.0828rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.5;
          color: #e0e0e0;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 8.8rem;
        }
      }
      .group-15422-Mow {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 10rem;
        width: 17.9172rem;

        .group-15417-Wgq {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;
          position: relative;

          .ellipse-70-eHF {
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
            width: 14.4755rem;
            height: 14.4755rem;
          }
          .ellipse-71-n8Z {
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
            position: absolute;
          }
          .ellipse-72-Jch {
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
          }
          .ellipse-73-BgV {
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          }
          .image-9-iAd {
            width: 12.1rem;
            height: 12.1rem;
            position: absolute;
            left: 3.2rem;
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .ai-analysis-of-merchandize-epy {
          font-size: 2rem;
          font-weight: 500;
          color: #e0e0e0;
          margin-left: 0.1904rem;
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 13.3rem;
          line-height: 1.5;
        }
      }
      .group-15423-aTj {
        margin-right: 9.9999rem;
        width: 17.9172rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-15418-7Tf {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;
          height: 16.5rem;
          position: relative;

          .ellipse-74-4do {
            border-radius: 7.2377rem;
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
          }
          .ellipse-75-QBs {
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
          }
          .ellipse-76-hRs {
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          }
          .ellipse-77-CNd {
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
          }
          .image-10-vJd {
            width: 9.8rem;
            height: 9.8rem;
            position: absolute;
            left: 4.3656rem;
            top: 3.8rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .strategic-analytics-rxy {
          margin-right: 0.0172rem;
          font-weight: 500;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 9.3rem;
          text-align: center;
          font-size: 2rem;
          line-height: 1.5;
          color: #e0e0e0;
        }
      }
      .group-15424-BkM {
        flex-shrink: 0;
        margin-right: 10rem;
        width: 17.9172rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-15419-jms {
          width: 100%;
          height: 16.5rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 2.2rem;

          .ellipse-78-H2h {
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
            width: 14.4755rem;
            height: 14.4755rem;
            position: absolute;
          }
          .ellipse-79-pHX {
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
          }
          .ellipse-80-Kzy {
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
          }
          .ellipse-81-enM {
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 0;
          }
          .image-11-NyF {
            position: absolute;
            left: 3.9rem;
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 12.1rem;
            height: 12.1rem;
          }
        }
        .sales-schemes-6uF {
          line-height: 1.5;
          color: #e0e0e0;
          margin-right: 0.0172rem;
          max-width: 9.4rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .group-15425-1mK {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 17.9172rem;
        height: 100%;

        .group-15420-jBX {
          width: 100%;
          height: 16.5rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 2.2rem;

          .ellipse-82-HTw {
            height: 14.4755rem;
            position: absolute;
            left: 2.0245rem;
            top: 1.4172rem;
            background-color: rgba(161, 130, 117, 0.3400000036);
            border-radius: 7.2377rem;
            width: 14.4755rem;
          }
          .ellipse-83-pTs {
            border: dashed 0.0506rem rgba(174, 136, 120, 0.3199999928);
            box-sizing: border-box;
            border-radius: 7.8451rem;
            width: 15.6901rem;
            height: 15.6902rem;
            position: absolute;
            left: 1.4172rem;
            top: 0.8098rem;
          }
          .ellipse-84-x4H {
            border-radius: 1.4172rem;
            width: 2.8344rem;
            height: 2.8344rem;
            position: absolute;
            left: 15.0828rem;
            top: 0;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
          }
          .ellipse-85-gFB {
            height: 2.8344rem;
            position: absolute;
            left: 0;
            top: 13.0583rem;
            box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
            background-color: #463c37;
            border-radius: 1.4172rem;
            width: 2.8344rem;
          }
          .image-12-c8q {
            top: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 12.1rem;
            height: 12.1rem;
            position: absolute;
            left: 3rem;
          }
        }
        .runs-on-all-devices-Hkm {
          margin-right: 0.0172rem;
          max-width: 11rem;
          line-height: 1.5;
          color: #e0e0e0;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
  }
  .frame-14756-oj7 {
    width: 129.5rem;
    height: 57rem;
    position: absolute;
    left: 9rem;
    top: 149.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-7q6m-92H {
      box-sizing: border-box;
      padding-bottom: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-15434-6TK {
        width: calc(100% - 50.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 50.6rem 3rem 0rem;

        .ellipse-69-2rm {
          border-radius: 1.1rem;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 2.2rem;
          height: 2.2rem;
          box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          background-color: #f57536;
        }
        .enhanced-improvement-in-last-mile-communications-delivery-quality-times-JpH {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .group-15433-2EV {
        margin-right: 31.4rem;
        width: calc(100% - 31.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-70-9pu {
          margin-right: 1rem;
          width: 2.2rem;
          height: 2.2rem;
          box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          background-color: #f57536;
          border-radius: 1.1rem;
          flex-shrink: 0;
        }
        .improved-sales-with-improved-retailer-satisfaction-and-sales-executive-retailer-interaction-time-UMP {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-15432-nN5 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .ellipse-71-MAH {
        height: 2.2rem;
        box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
        background-color: #f57536;
        border-radius: 1.1rem;
        flex-shrink: 0;
        margin: 0.4rem 1rem 0rem 0rem;
        width: 2.2rem;
      }
      .field-sales-staff-empowered-with-anytime-access-to-critical-business-data-like-real-time-inventory-delivery-schedule-past-order-history-sales-promotions-schemes-and-receivables-44h {
        max-width: 126.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-2vdb-vMo {
      width: 100%;
      row-gap: 3rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 3rem;

      .group-15431-dn1 {
        align-items: center;
        flex-shrink: 0;
        margin-right: 90.7rem;
        width: calc(100% - 90.7rem);
        display: flex;

        .ellipse-72-aBT {
          border-radius: 1.1rem;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 2.2rem;
          height: 2.2rem;
          box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          background-color: #f57536;
        }
        .on-the-go-creation-of-new-retailers-h1B {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .group-15430-prV {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 50.2rem;
        width: calc(100% - 50.2rem);

        .ellipse-73-9Ny {
          margin-right: 1rem;
          width: 2.2rem;
          height: 2.2rem;
          box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          background-color: #f57536;
          border-radius: 1.1rem;
          flex-shrink: 0;
        }
        .objective-base-for-sales-incentives-rewards-and-performance-comparisions-UAM {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .group-15429-zPb {
        flex-shrink: 0;
        margin-right: 85.1rem;
        width: calc(100% - 85.1rem);
        display: flex;
        align-items: center;

        .ellipse-74-8Eu {
          margin-right: 1rem;
          width: 2.2rem;
          height: 2.2rem;
          box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          background-color: #f57536;
          border-radius: 1.1rem;
          flex-shrink: 0;
        }
        .schemes-control-through-the-back-office-2bB {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .group-15428-Zr1 {
        margin-right: 1.4rem;
        width: calc(100% - 1.4rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .ellipse-75-vRf {
          border-radius: 1.1rem;
          flex-shrink: 0;
          margin: 0.4rem 1rem 0rem 0rem;
          width: 2.2rem;
          height: 2.2rem;
          box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          background-color: #f57536;
        }
        .improved-real-time-visibility-of-daily-reports-on-customers-visits-order-booking-receivables-plan-vs-actuals-teams-tracking-on-maps-etc-day {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 124.9rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
      }
      .group-15427-XAZ {
        margin-right: 58rem;
        width: calc(100% - 58rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-76-t17 {
          border-radius: 1.1rem;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 2.2rem;
          height: 2.2rem;
          box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          background-color: #f57536;
        }
        .analytics-provided-by-the-back-office-help-strategic-decision-making-rs3 {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-15426-u4d {
        align-items: center;
        flex-shrink: 0;
        margin-right: 47.2rem;
        width: calc(100% - 47.2rem);
        display: flex;

        .ellipse-77-FeH {
          flex-shrink: 0;
          margin-right: 1rem;
          width: 2.2rem;
          height: 2.2rem;
          box-shadow: inset 1.0123rem 0.5061rem 1.0123rem rgba(0, 0, 0, 0.400000006));
          background-color: #f57536;
          border-radius: 1.1rem;
        }
        .ai-driven-analytics-of-merchandize-help-you-analyse-retailers-stacking-patterns-yaH {
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
    }
  }
  .group-15416-tBT {
    background-color: #202020;
    box-sizing: border-box;
    padding: 7.679rem 53.5rem 7.734rem 53.5rem;
    width: 151.5rem;
    height: 34.5rem;
    position: absolute;
    left: 0.1rem;
    top: 220.6rem;

    .frame-14596-Chw {
      height: 100%;
      display: flex;
      align-items: flex-start;
      width: 100%;

      .group-14588-yCu {
        flex-shrink: 0;
        margin-right: 15.7rem;
        display: flex;
        flex-direction: column;

        .general-6YR {
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-size: 2.5097rem;
          letter-spacing: -0.005rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8468rem;
        }
        .about-us-sxV {
          margin-bottom: 1.1rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .services-psj {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .group-14589-yVj {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .policies-8dX {
          margin-bottom: 1.8468rem;
          line-height: 1.5;
          letter-spacing: -0.005rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.5097rem;
          font-weight: 500;
          color: #ffffff;
          flex-shrink: 0;
        }
        .security-safeguards-Tfo {
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .terms-of-service-yu3 {
          margin-bottom: 0.6135rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .privacy-Kxu {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6136rem;
          font-size: 1.8822rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .accessibility-TpD {
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8822rem;
        }
      }
    }
  }
}
